{% extends "gen_page.html" %}

{% block dropdown %}
    <option value="basic">Basic editor</option>
    <option value="grid">Grid editor (autofill option)</option>
{% endblock %}

{% block inputarea %}
    <form action="" method="post">
        <input type="hidden" name="editor" value="basic">
        <label for="freeform_entry">Construct your message below! Separate bubbles by commas or spaces, and separate rows with a new line. (A bubble is any bit of text in its own spoiler tag.)</label>
        <p><textarea id="freeform_entry" name="freeform_entry" rows="8" cols="32">Enter text here</textarea></p>
        <p><input type="submit" value="I'm finished!"></p>
    </form> 
{% endblock %}