<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord "Bubblewrap" Generator</title>
    </head>

    <body>

        <h1>Discord "Bubblewrap" Spoiler Tags Generator</h1>
        <h3>A tool to create digital bubble wrap, ripe for the popping, using Discord's spoiler tags feature.</h3>

        <main>
        <form action="" name="choose_editor" method="post">

            <p><label for="editor_select">Change editor:</label>
            <select name="editors_select" id="editor_select">
                {% block dropdown %}
                <option value="basic">Basic editor</option>
                <option value="grid">Grid editor (autofill option)</option>
                {% endblock %}
            </select>
            <input type="submit" value="Use editor"></p>
            
        </form>

        {% block inputarea %}
            <form action="" method="post">
                <input type="hidden" name="editor" value="basic">
                <label for="freeform_entry">Construct your message below! Separate bubbles by commas or spaces, and separate rows with a new line.</label>
                <p><textarea id="freeform_entry" name="freeform_entry" rows="8" cols="32">Enter text here</textarea></p>
                <p><input type="submit" value="I'm finished!"></p>
            </form> 
        {% endblock %}

        <label>Final output will appear below, for your copy/pasting pleasure:
            {% if context["final_output"]|length > 2000 %}
            <p><b>WARNING!</b> Output is longer than 2000 characters <b>(length: {{ context["final_output"]|length }})</b> and Discord may cut it off.</p>
            {% endif %}
            <p><textarea rows="16" cols="64">{{ context["final_output"] }}</textarea></p>
        </label>
        </main>

        <footer>
            <p>Created with love by LonelyPenguin.</p>
            <p>View source on <a href="https://github.com/LonelyPenguin/discord-bubblepop-gen">Github</a></p>
        </footer>
    </body>
</html>