<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord Bubble-Popping Spoilers Generator</title>
    </head>
    <body>

        <form action="" method="post">
            <p>
            <label for="editor_select">Change editor:</label>
            <select id="editor_select">
                <option value="">--Choose an editor--</option>
                <option value="basic">Basic</option>
                <option value="grid">Grid editor (more features)</option>
            </select>
            <input type="submit" value="Use editor">
            </p>
        </form>

        {% block inputarea %}
            <form action="" method="post">
                <label for="freeform_entry">Construct your message below! Separate bubbles by commas or spaces, and separate rows with a new line.</label>
                <p><textarea id="freeform_entry" name="freeform_entry" rows="8" cols="32">Enter text here</textarea></p>
                <input type="submit" value="I'm finished!">
            </form> 
        {% endblock %}

        <textarea>{{ context["final_output"] }}</textarea>
    </body>
</html>