<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord "Bubblewrap" Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta content='Discord "Bubblewrap" Generator' property="og:title" />
        <meta content="A tool to create digital bubble wrap, ripe for the popping, using Discord's spoiler tags feature." property="og:description" />
        <meta content="https://discord-bubblewrap.herokuapp.com/" property="og:url" />
        <meta content="{{ url_for('static', filename='favicon.ico') }}" property="og:image" />
    </head>

    <body>

        <h1>Discord "Bubblewrap" Spoiler Tags Generator</h1>
        <h3>A tool to create digital bubble wrap, ripe for the popping, using Discord's spoiler tags feature.</h3>

        <main>
        <form action="" name="choose_editor" method="post">

            <p><label for="editor_select">Change editor:</label>
            <select name="editors_select" id="editor_select">
                {% block dropdown %}
                <option value="basic">Basic editor</option>
                <option value="grid">Grid editor (autofill option)</option>
                {% endblock %}
            </select>
            <input type="submit" value="Use editor"></p>
            
        </form>

        {% block inputarea %}
            <form action="" method="post">
                <input type="hidden" name="editor" value="basic">
                <label for="freeform_entry">Construct your message below! Separate bubbles by commas or spaces, and separate rows with a new line. (A bubble is any bit of text in its own spoiler tag.)</label>
                <p><textarea id="freeform_entry" name="freeform_entry" rows="8" cols="32">Enter text here</textarea></p>
                <p><input type="submit" value="I'm finished!"></p>
            </form> 
        {% endblock %}

        <label>Final output will appear below, for your copy/pasting pleasure:
            {% if context["final_output"]|length > 1000 %}
            <p><b>WARNING!</b> Output is longer than 1000 characters <b>(length: {{ context["final_output"]|length }})</b> and Discord may cut it off if it includes many custom emojis (see below for details).</p>
            {% endif %}
            <p><textarea rows="16" cols="64">{{ context["final_output"] }}</textarea></p>
        </label>
        <p>A note on Discord character limits: Each custom emoji gains 21 extra unseen characters once you send it, compared to the :emojiname: version you see when you type it. Conversely, each default emoji only takes up 2 characters, regardless of how long its name is. Currently, Discord doesn't do a great job of warning you when you exceed the character limit with this bubble-wrap-type text. If you send your message and a bot called Clyde tells you it couldn't be delivered, try chopping a few bubbles off the end and trying again. (You can do the math if you want to have a precisely-calibrated-for-maximium-size piece of custom bubblewrap.)</p>
        </main>

        <footer>
            <p>Created with love by LonelyPenguin.</p>
            <p>View source on <a href="https://github.com/LonelyPenguin/discord-bubblepop-gen">Github</a></p>
        </footer>
    </body>
</html>