{% extends "gen_page.html" %}

{% block dropdown %}

<option value="grid">Grid editor</option>
<option value="basic">Basic editor (plain textbox)</option>

{% endblock %}

{% block inputarea %}

<form action="" method="post" name="num_rows_input">
    <input type="hidden" name="editor" value="grid">
    
    <p><label>Number of rows:
        <input type="number" name="num_rows">
    </label></p>
    <p><label>Number of columns:
        <input type="number" name="num_cols">
    </label></p>
    <p><label>Automatically populate grid (leave blank for none):
        <input type="text" name="autofill">
    </label></p>
    <p><input type="submit" value="Create grid"></p>

</form>

<form action="" method="post" name="bubbles_grid">
    <input type="hidden" name="editor" value="grid">
    <p>Enter/edit your bubble contents here, one bubble per box:</p>
    {% for row in range(context["set_rows"]) %}
        <p>
            {% for col in range(context["set_cols"]) %}
                <input type="text" size="4" name="point{{ row }},{{ col }}" value="{{ context["prefill"] }}">
            {% endfor %}
        </p>
    {% endfor %}
    <p><input type="submit" value="I'm finished!"></p>
</form>

{% endblock %}