{% extends "gen_page.html" %}

{% block inputarea %}

<form action="" method="post" name="num_rows_input">
    <input type="hidden" name="editor" value="grid">
    
    <p><label>Number of rows (warning: changing this will erase any previous input):
        <input type="number" name="num_rows">
    </label></p>
    <p><label>Number of columns (warning: changing this will erase any previous input):
        <input type="number" name="num_cols">
    </label></p>
    <p><label>Autofill grid (leave blank for none):
        <input type="text" name="autofill">
    </label></p>
    <p><input type="submit" value="Create grid"></p>

</form>

<form action="" method="post" name="bubbles_grid">
    <input type="hidden" name="editor" value="grid">
    <p>Enter your bubble contents here, one bubble per box:</p>
    {% for row in range(context["set_rows"]) %}
        <p>
            {% for col in range(context["set_cols"]) %}
                <input type="text" name="point{{ row }},{{ col }}" value={{ context["prefill"] }}>
            {% endfor %}
        </p>
    {% endfor %}
    <input type="submit" value="I'm finished!">
</form>

{% endblock %}